---
const stats = [
  {
    name: 'Años de Experiencia',
    value: '7',
  },
  {
    name: 'Miembros en el Proyecto',
    value: '15',
  },
  {
    name: 'Productos Elaborados',
    value: '15000+',
  },
  {
    name: 'Historias de Superación',
    value: "50+",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nuestra Misión</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              En Cooperativa La Esmeralda, nuestra misión es ofrecer a personas que han pasado por el sistema penitenciario una oportunidad de reinserción social a través del trabajo cooperativo. Nos enfocamos en brindar formación en panificación y otros oficios, ofreciendo productos artesanales de alta calidad, mientras creamos un ambiente de apoyo y crecimiento mutuo.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Nos dedicamos a transformar vidas, combinando el esfuerzo y la pasión por lo que hacemos con el objetivo de construir un futuro mejor para todos nuestros miembros. La cooperativa es un espacio donde el trabajo en equipo, el respeto y la superación personal son esenciales para alcanzar el éxito colectivo.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Creemos firmemente que a través del emprendimiento podemos cambiar nuestra realidad y contribuir positivamente a la comunidad. Cada producto que elaboramos es un reflejo de nuestra dedicación, esfuerzo y el deseo de aportar algo valioso.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
