---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our privacy policy will help you understand what information is collected and how it is used."
  title="Privacy policy · Stone"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Política de Privacidad</h1>
      <p class="text-base">Última actualización: 9 de enero de 2025</p>
    </div>
    <div>
      <p class="mb-4">
        En Cooperativa La Esmeralda, estamos comprometidos con la protección de tu privacidad. Esta política de privacidad describe cómo recopilamos, usamos y protegemos la información personal que recibimos a través de nuestro formulario de contacto.
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Información que Recopilamos</h2>
      <p class="mb-6">
        Recopilamos los siguientes datos cuando interactúas con nuestro formulario de contacto:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Información proporcionada por ti: Cuando nos contactas, solicitamos tu nombre, dirección de correo electrónico y otros detalles necesarios para responder a tu consulta.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. ¿Cómo usamos tu información?</h2>
      <p class="mb-4">Recopilamos los siguientes datos cuando interactúas con nuestro formulario de contacto:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Atender tu consulta: La información que nos proporcionas se utiliza para responder a tu mensaje o solicitud.
        </li>
        <li>
          Comunicación: Si lo solicitas, podremos enviarte actualizaciones relacionadas con nuestros productos o actividades.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">3. Protección de tu información</h2>
      <p class="mb-4">Nos comprometemos a proteger tus datos personales y a no compartirlos con terceros, excepto cuando sea necesario para cumplir con tu solicitud.</p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">Contactanos</h2>
      <p class="mb-4">
        Si tienes alguna pregunta o inquietud acerca de nuestra política de privacidad, no dudes en ponerte en contacto con nosotros a través de cooperativaesmeralda1@gmail.com o +5493416848663.
      </p>
    </div>
  </div>
</Layout>
