---
const languagesWithPrefix = [
  { prefix: "en", name: "English" },
  { prefix: "es", name: "Español" }
];
---

<loom class="relative flex items-center w-fit fill-black text-black">
  <div
    class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-2 text-black"
  >
    <svg
      class="h-5 w-5"
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      viewBox="0 -960 960 960"
      width="24"
      ><path
        d="M479.761-108.078q-76.607 0-144.386-29.216-67.779-29.215-118.322-79.759-50.544-50.543-79.759-118.322-29.216-67.779-29.216-144.386 0-77.393 29.216-144.89 29.215-67.497 79.759-118.121 50.543-50.624 118.322-79.887 67.779-29.263 144.386-29.263 77.393 0 144.89 29.27 67.497 29.27 118.121 79.908 50.624 50.637 79.887 118.151Q851.922-557.079 851.922-480q0 76.846-29.263 144.625t-79.887 118.322q-50.624 50.544-118.121 79.759-67.497 29.216-144.89 29.216Zm.239-54.383q31.225-41.021 52.401-83.184 21.177-42.163 34.523-91.471H393.269q13.73 51.039 34.714 93.009 20.984 41.971 52.017 81.646Zm-72.614-11.808q-23.808-34.307-42.673-76.5-18.866-42.193-29.112-86.347H199.192q31.692 63.616 85.712 105.751 54.02 42.135 122.482 57.096Zm145.228 0q68.27-14.769 122.386-57t86.001-105.847h-136.41q-12.361 44.539-31.227 86.731-18.866 42.193-40.75 76.116ZM176.462-393.076h147.385q-3.769-22.616-5.461-44.135-1.693-21.52-1.693-42.789 0-21.269 1.693-42.789 1.692-21.519 5.461-44.135H176.462q-6.27 20.885-9.347 42.723-3.077 21.837-3.077 44.201t3.077 44.201q3.077 21.838 9.347 42.723Zm203.845 0h199.578q3.885-22.616 5.673-43.588 1.789-20.972 1.789-43.336 0-22.364-1.789-43.336-1.788-20.972-5.673-43.588H380.307q-4.077 22.616-5.865 43.588-1.789 20.972-1.789 43.336 0 22.364 1.789 43.336 1.788 20.972 5.865 43.588Zm255.846 0h147.578q6.077-20.885 9.154-42.723 3.077-21.837 3.077-44.201t-3.077-44.201q-3.077-21.838-9.154-42.723H636.153q3.769 22.616 5.461 44.135 1.693 21.52 1.693 42.789 0 21.269-1.693 42.789-1.692 21.519-5.461 44.135Zm-11.562-229.808h136.41q-32.078-64.193-85.232-105.751-53.155-41.558-123.155-57.481 23.808 36.231 42.385 77.847 18.577 41.616 29.592 85.385Zm-231.322 0h173.655q-13.923-50.462-35.484-93.49-21.561-43.029-51.44-81.165-29.879 38.136-51.44 81.165-21.561 43.028-35.291 93.49Zm-194.077 0h136.409q10.823-43.769 29.4-85.385 18.577-41.616 42.385-77.847-70.193 16.115-123.251 57.673-53.058 41.558-84.943 105.559Z"
      ></path></svg
    >
  </div>
  <select
    aria-label="Language selector"
    loom-list
    class="block text-black appearance-none block w-fit text-end rounded h-9 pe-8 ps-10 sm:w-max transition-all"
  >
    {
      languagesWithPrefix.map((language) => (
        <option aria-label={"Translate to " + language.name} loom-language={language.prefix}>{language.name}</option>
      ))
    }
  </select>
  <div
    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-black"
  >
    <svg
      class="h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      ><path
        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
      ></path></svg
    >
  </div>
</loom>

<script>
  import "/src/assets/i18n/loomTranslations.js";
  import "/src/assets/i18n/loom.js";
</script>
